@import "./font";
@import "./variables/var_header";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;

  @media (max-width: 1680px) {
    font-size: 12px;
  }

  font-family: "FiraSans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: $bg-color-content;
}
