$table-border: rgb(83, 73, 73, 0.4);
$table-header_bg: hsl(187, 10%, 27%);
$table-header: rgb(238, 247, 244);
$table-row: rgb(220, 228, 223);
$table-row-dimmed: rgb(228, 234, 229);
$table-selected: rgb(227, 241, 232);
